* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --marine-blue: hsl(213, 96%, 18%);
    --priamry-font: 16px;
    --purplish-blue:  hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--priamry-font);
    width: 100vw;
    height: 100vh;
    background-color: var(--light-blue);
    position: relative;
}
.wrapper {
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--alabaster);
    border-radius: 10px;
    padding: 1.5rem;
    justify-content: space-between;
}
.step-wrapper {
    background: url(../img/images/bg-sidebar-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.step-item {
    display: flex;
    margin: 1.5rem 2.5rem;
    align-items: center;
}
.number {
    border-radius: 50%;
    outline: 2px solid var(--white);
    margin-right: 1.5rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    color: var(--white);
    padding: 0.3rem 0.6rem;
}
.curent {
    background-color: var(--light-blue);
    color: var(--marine-blue);
    outline: 2px solid var(--light-blue);
    outline-offset: -1px;
}
.step-content p {
    width: max-content;
}
.title {
    color: var(--cool-gray);
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    text-transform: uppercase;
}
.title-bold {
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--white);
    text-transform: uppercase;
}


/* step-content */
.step-content-title {
    margin-left: 3rem;
    position: relative;
    padding: 2rem 1rem;
}
.step-content_item {
    margin-bottom: 3rem;
    position: relative;
}
.step-content_item h1 {
    color: var(--marine-blue);
    margin-bottom: 0.7rem;
}

.step-content_item p {
    color: var(--cool-gray);
    font-size: 1rem;
    width: max-content;
}
.form-group {
    margin: 2.5rem 0;
}
.form-item {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}
.form-item label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: var(--marine-blue);
}
.form-item input {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    color: var(--marine-blue);
    line-height: 1.5rem;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
    cursor: pointer;
}
.form-item input:focus-visible {
    outline: 0.5px auto var(--purplish-blue);
}
.nextbtn {
    padding: 0.6rem 0.7rem;
    font-size: 0.8rem;
    color: var(--white);
    background-color: var(--purplish-blue);
    cursor: pointer;
    border-radius: 7px;
    border: none;
    position: absolute;
    right: 0;
    font-weight: bold;
}
.nextbtn:hover {
    opacity: 0.8;
}
.error {
    border: 1px solid var(--strawberry-red) !important;
}
.form-message {
    color: var(--strawberry-red);
    padding: 7px;
}
#form-choose {
    width: 100%;
    position: relative;
}
.form-choose-action {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0;
}
.form-choose_item {
    border-radius: 7px;
    border: 1px solid var(--cool-gray);
    padding: 1.2rem;
    cursor: pointer;
}
.form-choose-action {
    transition: all 2s linear
}
.choose-package {
    border-color: var(--marine-blue) !important;
    background-color: var(--magnolia);
}
.icon-img img {
    margin-bottom: 3rem;
}
.item-content h5 {
   font-weight: bolder;
   font-size: 1rem;
   color: var(--marine-blue);
   line-height: 2rem;
}
.goback-btn {
    padding: 0.6rem 0.7rem;
    font-size: 0.8rem;
    color: var(--cool-gray);
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 0;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.1s linear;
}
.goback-btn:hover {
    background-color: var(--light-blue);
}
.choose-action {
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;
    width: 100%;
    background-color: var( --magnolia);
    border-radius: 0.5rem;
    justify-content: center;
    margin-bottom: 1rem ;
    padding: 0.6rem 0;
}
.choose {
    color: var(--marine-blue) !important;
}
.choose-btn {
    padding: 0 1.1rem;
    background-color: var(--marine-blue);
    border-radius: 2rem;
    margin: 0 0.6rem;
    position: relative;
    height: 1.1rem;
}
.choose-roller{
    position: absolute;
    background-color: var(--white);
    border-radius: 50%;
    width: 40%;
    height: 80%;
    top: 10%;
    cursor: pointer;
}
.left-btn {
    left: 8%;
    transition: all 2s ease-in;
}
.right-btn {
    right: 8%;
    transition: all 2s ease-in;
}
.months-free {
    color: var(--marine-blue)  !important;
    margin-top: 0.7rem;
}






/* Step 3 */
.item_3 {
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    border: 1px solid var(--light-gray);
    cursor: pointer;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}
.input-title {
    display: flex;
    align-items: center;
}
.input-title input {
    accent-color: var( --purplish-blue);
    width: 1rem;
    height: 1rem;
}
.title-content h3 {
    color: var(--marine-blue);
    line-height: 2rem;
}
.title-content {
    margin: 0 2rem;
}
.time {
    color: var(--purplish-blue) !important;
}
.choose-step3 {
    border-color: var(--marine-blue);
    background-color: var(--light-blue);
}
.fmess-step3 {
    margin: 0.5rem 0;
}

/* Step 4 */

.total-table {
    background-color: var(--light-gray);
    border-radius: 7px;
}
.total-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.7rem;
}
.total-sum {
    margin: 2rem 0;
}
.content h3 {
    color: var(--marine-blue);
}
.money {
    color: var(--purplish-blue) !important;
}
.line {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--cool-gray);
}
.line p {
    font-weight: bold
}
.total-money {
    font-weight: bolder;
}
.sum {
    font-weight: bold;
}
.changebtn {
    font-weight: 100 !important;
    text-decoration: underline;
    cursor: pointer;
}
/* Step 5 */
.thank-content {
    text-align: center;
    padding: 2rem 5rem;
}
.thank-content h1 {
    margin: 2.5rem 0 1.4rem 0;
}
.phara {
    max-width: min-content;
}